<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>Producto Destacado</title>
</head>
<body>

  <header>
    <div class="header-content">
      <h1>Producto Destacado</h1>
      <p>Descubre la última innovación en productos.</p>
    </div>
  </header>

  <section id="main-content">
    <div class="product">
      <div id="image">
        <img src="./images/pizarra.jpeg" alt="Producto">
      </div>
      <div class="product-info">
        <h2>Nombre del Producto</h2>
        <p>Descripción detallada del producto y sus características. Aprovecha esta oferta exclusiva.</p>
        <button>Comprar ahora</button>
      </div>
    </div>
  </section>

  <footer>
    <div class="footer-content">
      <div id="contact-form">
        <h3>Contacto</h3>
        <form id="formulario">
          <label for="nombre">Nombre:</label>
          <input type="text" id="nombre" name="nombre" required>

          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required>

          <label for="mensaje">Mensaje:</label>
          <textarea id="mensaje" name="mensaje" rows="4" required></textarea>

          <button type="submit">Enviar</button>
        </form>
      </div>
      <div class="social-icons">
        <a href="#" class="icon">Facebook</a>
        <a href="#" class="icon">Twitter</a>
        <a href="#" class="icon">Instagram</a>
      </div>
    </div>
  </footer>

  <script src="script.js"></script>
</body>
</html>

